.basic-button {
    outline: none !important;
    padding: 12px 20px;
    border-radius: var(--corner-radius);
    background-color: var(--primary);
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--text-on-color);
    border: none;
    cursor: pointer;
}

.cicle-0-5em {
    height: 0.5em;
    width: 0.5em;
    border-radius: 100%;
}

.cicle-0-3em {
    height: 0.3em;
    width: 0.3em;
    border-radius: 100%;
}