.full-screen-size {
    width: 100vw;
    height: 100vh;
}

.full-size {
    width: 100%;
    height: 100%;
}

.w-full {
    width: 100%
}

.w-40per {
    width: 40%;
}

.w-240px {
    width: 240px;
}

.w-500px {
    width: 500px;
}

.max-w-full {
    max-width: 100%;
}

.h-full {
    height: 100%
}

.h-40px {
    height: 40px;
}

.h-50px {
    height: 50px;
}

.h-70px {
    height: 70px;
}

.min-h-full {
    min-height: 100%;
}

.min-h-0 {
    min-height: 0;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

.justify-safe-center {
    justify-content: safe center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-safe-center {
    align-items: safe center;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.rounded {
    border-radius: var(--corner-radius);
}

.shadow-around {
    box-shadow: 0 0 10px 3px var(--shadow);
}

.bg-primary {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg {
    background-color: var(--background);
}

.text {
    color: var(--text);
}

.text-on-color {
    color: var(--text-on-color);
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-10px {
    margin-top: 10px;
}

.-mt-30px {
    margin-top: -30px;
}

.ml-20px {
    margin-left: 20px;
}

.mr-5px {
    margin-right: 5px;
}

.mb-5px {
    margin-bottom: 5px;
}

.mb-10px {
    margin-bottom: 10px;
}

.p-20px {
    padding: 20px;
}

.ptb-20px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt-30px {
    padding-top: 30px;
}

.pl-20px {
    padding-left: 20px;
}

.pb-20px {
    padding-bottom: 20px;
}

.pr-10px {
    padding-right: 10px;
}

.pr-20px {
    padding-right: 20px;
}

.plr-20px {
    padding-left: 20px;
    padding-right: 20px;
}

.fs-1-5rem {
    font-size: 1.5rem;
}

.fs-2rem {
    font-size: 2rem;
}

.fs-2-5rem {
    font-size: 2.5rem;
}

.fs-3rem {
    font-size: 3rem;
}

.fw-800 {
    font-weight: 800;
}

.fw-650 {
    font-weight: 650;
}

.border-color-primary {
    border-color: var(--primary)
}

.border-b-1px {
    border-bottom: solid 1px;
}

.overflow-y {
    overflow-y: auto;
}

.overflow-x {
    overflow-x: auto;
}