.full-screen-size {
    width: 100vw;
    height: 100vh;
}

.full-size {
    width: 100%;
    height: 100%;
}

.w-full {
    width: 100%
}

.w-40per {
    width: 40%;
}

.w-45per {
    width: 45%;
}

.w-240px {
    width: 240px;
}

.w-500px {
    width: 500px;
}

.max-w-full {
    max-width: 100%;
}

.h-full {
    height: 100%
}

.h-7em {
    height: 7em;
}

.h-5em {
    height: 5em;
}

.h-2-5em {
    height: 2.5em;
}

.h-30px {
    height: 30px;
}

.h-40px {
    height: 40px;
}

.h-50px {
    height: 50px;
}

.h-70px {
    height: 70px;
}

.min-h-full {
    min-height: 100%;
}

.min-h-0 {
    min-height: 0;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify-center {
    justify-content: center;
}

.justify-safe-center {
    justify-content: safe center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-safe-center {
    align-items: safe center;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.rounded {
    border-radius: var(--corner-radius);
}

.shadow-around {
    box-shadow: 0 0 10px 3px var(--shadow);
}

.bg-text {
    background-color: var(--text);
}

.bg-primary {
    background-color: var(--primary);
}

.bg-primary-hover:hover {
    background-color: var(--primary);
}

.bg-secondary {
    background-color: var(--secondary);
}

.bg {
    background-color: var(--background);
}

.text {
    color: var(--text);
}

.text-on-color {
    color: var(--text-on-color);
}

.text-on-color-hover:hover {
    color: var(--text-on-color);
}

.text-align-center {
    text-align: center;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.mt-10px {
    margin-top: 10px;
}

.mt-20px {
    margin-top: 20px;
}

.-mt-30px {
    margin-top: -30px;
}

.-mt-3em {
    margin-top: -3em;
}

.ml-2em {
    margin-left: 2em;
}

.ml-3em {
    margin-left: 3em;
}

.ml-5px {
    margin-left: 5px;
}

.ml-20px {
    margin-left: 20px;
}

.mr-5px {
    margin-right: 5px;
}

.mr-20px {
    margin-right: 20px;
}

.mr-2em {
    margin-right: 2em;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1em{
    margin-bottom: 1em;
}

.mb-2em{
    margin-bottom: 2em;
}

.mb-0-5em {
    margin-bottom: 0.5em;
}

.mb-5px {
    margin-bottom: 5px;
}

.mb-10px {
    margin-bottom: 10px;
}

.mb-20px {
    margin-bottom: 20px;
}

.mlr-5px {
    margin-left: 5px;
    margin-right: 5px;
}

.mlr-1em {
    margin-left: 1em;
    margin-right: 1em;
}

.p-5px {
    padding: 5px;
}

.p-20px {
    padding: 20px;
}

.ptb-2em {
    padding-top: 2em;
    padding-bottom: 2em;
}

.ptb-20px {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt-30px {
    padding-top: 30px;
}

.pl-1em {
    padding-left: 1em;
}

.pl-2em {
    padding-left: 2em;
}

.pl-3em {
    padding-left: 3em;
}

.pl-20px {
    padding-left: 20px;
}

.pb-0-5em {
    padding-bottom: 0.5em;
}

.pb-20px {
    padding-bottom: 20px;
}

.pr-1em {
    padding-right: 1em;
}

.pr-10px {
    padding-right: 10px;
}

.pr-20px {
    padding-right: 20px;
}

.plr-20px {
    padding-left: 20px;
    padding-right: 20px;
}

.plr-1em {
    padding-left: 1em;
    padding-right: 1em;
}

.plr-2em {
    padding-left: 2em;
    padding-right: 2em;
}

.plr-3em {
    padding-left: 3em;
    padding-right: 3em;
}

.fs-1-5rem {
    font-size: 1.5rem;
}

.fs-2rem {
    font-size: 2rem;
}

.fs-2-5rem {
    font-size: 2.5rem;
}

.fs-3rem {
    font-size: 3rem;
}

.fs-1-5em {
    font-size: 1.5em;
}

.fs-2em {
    font-size: 2em;
}

.fs-2-5em {
    font-size: 2.5em;
}

.fs-3em {
    font-size: 3em;
}

.fw-800 {
    font-weight: 800;
}

.fw-650 {
    font-weight: 650;
}

.border-color-primary {
    border-color: var(--primary)
}

.border-1px {
    border: solid 1px;
}

.border-b-1px {
    border-bottom: solid 1px;
}

.overflow-y {
    overflow-y: auto;
}

.overflow-x {
    overflow-x: auto;
}

.grid-1-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.grid-2cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.g-el-1-1 {
    grid-row: 1;
    grid-column: 1;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.z-10 {
    z-index: 10;
}

.all-unset {
    all: unset;
}